<div class="sbi_recommended_products">

  <div class="sbi_recommended_products_wrap">

    <h2>Insurance Background Check</h2>

    <div class="sbi_product_row">
      <div class="sbi_product_col1">
        <div class="sbi_product_section_header_ps" style="margin-top:75px;">
          Product <br />Selection
        </div>
      </div>
      <div class="sbi_product_col2">
        <div class="sbi_product_subhead">
          Essentials
        </div>
        <ul>
          <li>Social Security Number Trace</li>
          <li>County Criminal Court Search</li>
          <li>National Criminal Database Search</li>
          <li>Sex Offender Registry Search</li>
          <li>Federal Criminal Court Search</li>
          <li>Wants & Warrants Search</li>
          <li>Terrorist Watch List Search</li>
          <li>1 Education Verification</li>
          <li>3 Employment Verifications</li>
        </ul>

      </div>
      <div class="sbi_product_col3">
        <div class="sbi_product_subhead">
          Optional Add-ons
        </div>
        <div class="sbi_addons" id="add_ons">
          <div style="display: none;">

            <input type="checkbox" value="99.95" id="so0" checked="" />
          </div>
          <input type="checkbox" value="15.00" id="so1" class="p-1" /> <label for="so1">Employment Credit Report</label><br />



        </div>


      </div>

    </div><!-- sbi_product_row -->


    <div class="sbi_product_row_b">

      <div class="sbi_product_col1">
        <div class="sbi_product_section_header_sum">
          Summary
        </div>
      </div>

      <div class="sbi_product_col23">
        <div class="sbi_total_row">
          <div class="sbi_total_row_subhead">
            Insurance Background Check

            <div class="sbi_total">
              $99.95
            </div>
          </div>
        </div>

        <div class="sbi_addon_row">
          <div class="sbi_addon_head">
            Add-ons
          </div>
          <div class="p-1-show" style="display: none;">
            Employment Credit Report
            <div class="sbi_total">
              $15.00
            </div>
          </div>





        </div><!-- sbi_addon_row -->

        <div class="sbi_totalfinal_row">
          <div class="sbi_total">
            Total <span class="sbi_final_total">$</span><input type="text" name="TotlCost" id="TotalCost" value="99.95" class="sbi_final_total_b" />
          </div>
        </div>

      </div>
    </div><!-- sbi_product_row_b -->
    <div class="sbi_row_btn">
      <a href="../CreateAccount/index.html" class="btn_sbi">Choose this Package</a>
    </div>
    <div class="ip_note"> <b>Please Note:</b> This is a sample screening package. After you create an account, you can customize and save background check packages or contact us for assistance.​</div>
  </div><!-- sbi_recommended_products_wrap -->

</div><!-- sbi_recommended_products -->
