<div class="main-top-background">
<div class="hm_top hm_desktop">
<div class="hm_top_wrap">
   <div class="hm_intro_area">
       <div class="hm_top_man clear">
          <!-- <img src="https://content.backgroundsonline.com/images/sites/bgo/hm_bgo_man.png" width="78" height="70" border="0" />-->
       </div>
       <h1 class="hm_top_header clear">Background Screening Solutions</h1>
       <h2 class="hm_top_header_intro clear">Tailored to meet your onboarding needs.</h2>
       <div style="text-align: center;">
           <a href="CreateAccount/index.html" class="hm_btn_signup">Start Screening</a>
       </div>
   </div>

</div>

<!--<div class="hm_20years_section">
<div class="hm_20years_section_wrap">
   <div class="left"><img src="https://content.backgroundsonline.com/images/sites/bgo/BGO20_hm_sm.png" width="127" height="89" border="0" /></div>

   <div class="left"><span class="very_bold">Celebrating Two Decades</span> <br />of Background Screening</div>
</div>
</div>-->

</div>
        <div class="mobile_start_screen_copy mobile_home" style="text-align: center;">
            <div class="hm_top_wrap">
                <h1 class="hm_top_header">Background Screening Solutions</h1>
                <h2 class="hm_top_header_intro">Tailored to meet your onboarding needs.</h2>
                <div style="text-align: center;">
                    <a href="CreateAccount/index.html" class="hm_btn_signup">Start Screening</a>
                </div>
            </div>
        </div>
        <div class="hm_top_wrap hm_promo">
            <div class="main_points hm_promo_background">
                <div class="col-md-6" style="vertical-align: top;">
                    <div class="header_promo">Protect Your Brand</div>
                    <p>Hire honest and ethical people to represent your company. You've worked hard to establish your brand and it's worth protecting.</p>
                    <div class="">
                        <div class="hm_promo_btn">
                            <a href="why-us.html">
                                Why Us
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="/assets/img/sites/bgo/home-iso.png" width="300" alt="City"/>
                </div>
            </div>
        </div>


        </div> <!-- main-top-background -->
