<div class="" style="background-color:#fff;">
    <div class="hm_certification_logos home_bgo_protects">

        <div class="hm_napbs_block">
            <a href="NAPBS-Accredited/index.html">
                <div class="hm_certification_col1">
                    <img src="/assets/img/sites/bgo/napbs_logo_hm.png" height="90" border="0" alt="napbs logo" />
                </div>
            </a>
        </div>
        <div class="hm_soc2_block">
            <a>
                <div class="hm_certification_col1" style="cursor:default;">
                    <img src="/assets/img/sites/bgo/BGO20Year-final.png" height="68" border="0" alt="20 year logo" />
                </div>
            </a>
        </div>
        <div class="hm_soc2_block">
            <a href="SOC2-Report/index.html">
                <div class="hm_certification_col1">
                    <img src="/assets/img/sites/bgo/soc2_logo_b_sm.png" height="78" border="0" alt="soc logo" />
                </div>
            </a>
        </div>

    </div>
</div>
