<div class="all_products_group">
<h2 class="all_products_subhead">
Additional Searches <a href="products-and-services/products-additional-reports.html" class="all_products_learnmore">(Learn More)</a>
</h2>

<div id="all_products_row">


    <a href="products-and-services/motor-vehicle-checks.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_mvr.png" alt="" width="52" height="45" />
                <h3>Motor Vehicle Record Search</h3>
                <div class="prod_mobile_hide">We confirm the status of anyone's license, check for traffic violations and review their accident history.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/credit-reports.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_credit.png" alt="" width="52" height="45" />

                <h3>Employment Credit Report</h3>

                <div class="prod_mobile_hide">Learn about a candidate's credit history and financial background - ideal for positions that will handle financial transactions.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/drug-screening.html">
        <div class="all_products_single ">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_drug.png" alt="" width="52" height="45" />

                <h3>Drug Screening</h3>
                <div class="prod_mobile_hide">Choose either a 5, 10 or 14 panel screen for thorough testing. We have screening facilities throughout the U.S.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->


</div>


<div id="all_products_row">

    <a href="products-and-services/facis.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_facis.png" alt="" width="52" height="45" />
                <h3>FACIS®</h3>

                <div class="prod_mobile_hide">The "Gold Standard" for healthcare screening - used to determine someone's eligibility to work in healthcare.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/oig-epls-sanctions.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_oig.png" alt="" width="52" height="45" />

                <h3>OIG/SAM Sanctions Search</h3>

                <div class="prod_mobile_hide">We find out if a candidate is listed, and therefore prohibited from participating in federally funded healthcare programs or federal contracts.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->




</div>



</div><!-- all_products_group -->
