<h2 class="all_products_subhead">
Criminal and Court Records <a href="products-and-services/criminal-searches.html" class="all_products_learnmore">(Learn More)</a>
</h2>

<div id="all_products_row">

    <a href="products-and-services/social-security-number-trace.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_ssn.png" alt="" width="52" height="45" />
                <h3>Social Security Number Trace</h3>
                <div class="prod_mobile_hide">We use full names and reliable identifiers to confirm your candidate's identity.</div>
                <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/criminal-searches/county-court-search.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_countycrim.png" alt="" width="52" height="45" />
                <h3>County Criminal Court Search</h3>
                <div class="prod_mobile_hide">Our researchers contact county court administrators to check for local criminal charges.</div>
                                <div class="prod_mobile_moreinfo">More Info</div>

            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/criminal-searches/statewide-criminal-search.html">
        <div class="all_products_single">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_statecrim.png" alt="" width="52" height="45" />

                <h3>State Level Criminal Search</h3>
                <div class="prod_mobile_hide">A thorough review of criminal repositories and archives from every county within the specified state.</div>
                <div class="prod_mobile_moreinfo">More Info</div>

            </div>

        </div>
    </a><!-- all_products_single -->

</div>
<div id="all_products_row">

    <a href="products-and-services/criminal-searches/federal-court-search.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_federal.png" alt="" width="52" height="45" />

                <h3>Federal Criminal Court Search</h3>

                <div class="prod_mobile_hide">We check 94 U.S. judicial districts for criminal activities that were processed within the federal court system.</div>
                                <div class="prod_mobile_moreinfo">More Info</div>

            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/criminal-searches/national-criminal-database-search.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_nationcrim.png" alt="" width="52" height="45" />

                <h3>National Criminal Database Search</h3>
                <div class="prod_mobile_hide">This report includes data from county courthouses, administrative offices and correctional institutions in every state.</div>
                <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/criminal-searches/sex-offender-search.html">
        <div class="all_products_single">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_sexoffender.png" alt="" width="52" height="45" />

                <h3>Sex Offender Registry Search</h3>
                <div class="prod_mobile_hide">We search through records in the national sex offender registry, which covers every state and district.</div>
                                <div class="prod_mobile_moreinfo">More Info</div>

            </div>

        </div>
    </a><!-- all_products_single -->


</div>


<div id="all_products_row">






    <a href="products-and-services/criminal-searches/usa-patriot-act-search.html">
        <div class="all_products_single  all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_usapat.png" alt="" width="52" height="45" />

                <h3>Terrorist Watch List Search</h3>
                <div class="prod_mobile_hide"> Includes checks on terrorist watch lists, sanctions from financial institutions and other security-based searches.</div>
                <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->


    <a href="products-and-services/criminal-searches/wants-and-warrants.html">
        <div class="all_products_single  all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_wantsw.png" alt="" width="52" height="45" />

                <h3>Wants & Warrants Search</h3>
                <div class="prod_mobile_hide">Records are reviewed from state and county courthouses, and correctional institutions throughout the country.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->


    <a href="products-and-services/county-civil-court-search.html">
        <div class="all_products_single">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_countycivil.png" alt="" width="52" height="45" />

                <h3>County Civil Court Search</h3>
                <div class="prod_mobile_hide">Details on legal actions initiated by or brought against an applicant, including case type, disposition and judgment.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>

            </div>

        </div>
    </a><!-- all_products_single -->

</div>


</div><!-- all_products_group -->
