<div class="packages_tint">

           <div class="packages_all">
              <a href="CreateAccount/index.html" class="button_basic">
              <div class="package_wrap basic">
                   <div class="package_header">
                       <div class="package_header_text">
                           Basic Package
                       </div>
                   </div>
                   <!-- package_header -->
                   <div class="package_price_area">
                       <div class="package_price">
                           $29.95
                       </div>
                       <!-- package_price -->
                       <div class="package_description">
                           A simple, cost-effective screening solution, we consider this option a good introductory background check.
                       </div>
                       <!-- package_description -->
                   </div>
                   <!-- package_price_area -->
                   <div class="product_listings">
                       <div class="product">
                           Social Security Number Trace
                       </div>
                       <div class="product">
                           County Criminal Court Search*
                       </div>
                       <div class="product">
                           National Criminal Database Search
                       </div>
                       <div class="product">
                           Sex Offender Registry Search
                       </div>
                                  <div class="product">
                           Terrorist Watch List Search
                       </div>
                   </div>
                   <!-- product_listings -->
                   <div class="package_btn">
                   Buy Basic Package
                   </div>
               </div></a>
               <!-- package_wrap -->
              <a href="CreateAccount/index.html" class="button_standard">
              <div class="package_wrap standard">
                   <div class="package_header">
                       <div class="package_header_text">
                           Standard Package
                       </div>
                   </div>
                   <!-- package_header -->
                   <div class="package_price_area">
                       <div class="package_price">
                           $49.95
                       </div>
                       <!-- package_price -->
                       <div class="package_description">
                           One of our most popular screening solutions, focusing on multi-jurisdictional criminal searches and supplemental database checks.
                       </div>
                       <!-- package_description -->
                   </div>
                   <!-- package_price_area -->
                   <div class="product_listings">
                       <div class="product">
                           Social Security Number Trace
                       </div>
                       <div class="product">
                           County Criminal Court Search*
                       </div>

                       <div class="product">
                           Federal Criminal Court Search
                       </div>

                       <div class="product">
                           National Criminal Database Search
                       </div>
                       <div class="product">
                           Sex Offender Registry Search
                       </div>

                       <div class="product">
                           Wants & Warrants Search
                       </div>
                                  <div class="product">
                           Terrorist Watch List Search
                       </div>
                   </div>
                   <!-- product_listings -->
                   <div class="package_btn">
                   Buy Standard Package
                   </div>
               </div></a>
               <!-- package_wrap -->
             <a href="CreateAccount/index.html" class="button_deluxe">
             <div class="package_wrap deluxe">
             <div class="product_popular">
             Most Popular
             </div>
                   <div class="package_header">
                       <div class="package_header_text">
                           Deluxe Package
                       </div>
                   </div>
                   <!-- package_header -->
                   <div class="package_price_area">
                       <div class="package_price">
                           $79.95
                       </div>
                       <!-- package_price -->
                       <div class="package_description">
                           One of our most popular screening solutions, focusing on multi-jurisdictional criminal searches and supplemental database checks.
                       </div>
                       <!-- package_description -->
                   </div>
                   <!-- package_price_area -->
                   <div class="product_listings">
                       <div class="product">
                           Social Security Number Trace
                       </div>
                       <div class="product">
                           County Criminal Court Search*
                       </div>
                      <div class="product">
                           Federal Criminal Court Search
                       </div>

                       <div class="product">
                           National Criminal Database Search
                       </div>
                       <div class="product">
                           Sex Offender Registry Search
                       </div>

                       <div class="product">
                           Terrorist Watch List Search
                       </div>
                       <div class="product">
                           Motor Vehicle Record Search
                       </div>
                       <div class="product">
                           Wants & Warrants Search
                       </div>
                       </div>
                   <!-- product_listings -->
                   <div class="package_btn">
                   Buy Deluxe Package
                   </div>
               </div></a>
               <!-- package_wrap -->

              <a href="CreateAccount/index.html" class="button_comprehensive">
              <div class="package_wrap comprehensive">
                   <div class="package_header">
                       <div class="package_header_text">
                           Comprehensive Package
                       </div>
                   </div>
                   <!-- package_header -->
                   <div class="package_price_area">
                       <div class="package_price">
                           $99.95
                       </div>
                       <!-- package_price -->
                       <div class="package_description">
                           One of our most popular screening solutions, focusing on multi-jurisdictional criminal searches and supplemental database checks.
                       </div>
                       <!-- package_description -->
                   </div>
                   <!-- package_price_area -->
                   <div class="product_listings">
                       <div class="product">
                           Social Security Number Trace
                       </div>
                       <div class="product">
                           County Criminal Court Search*
                       </div>
                       <div class="product">
                           Federal Criminal Court Search
                       </div>
                       <div class="product">
                           National Criminal Database Search
                       </div>
                       <div class="product">
                           Sex Offender Registry Search
                       </div>
                       <div class="product">
                           Terrorist Watch List Search
                       </div>
                         <div class="product">
                           Wants & Warrants Search
                       </div>
                       <div class="product">
                           1 Education Verification &#8224;
                       </div>
                       <div class="product">
                           3 Employment Verifications &#8224;
                       </div>

                   </div>
                   <!-- product_listings -->
                   <div class="package_btn">
                   Buy Comprehensive Package
                   </div>
               </div></a>
               <!-- package_wrap -->
    <div class="clear"></div>
           <div class="footnote">
               * Court surcharges may apply. Varies by location. County Criminal Court Search not available in New York. <br />
               &#8224; Surcharges may apply.
           </div>
           </div><!-- packages_all -->
           </div>
