<div class="all_products_group">
<h2 class="all_products_subhead">
Verifications <a href="products-and-services/references-and-verifications.html" class="all_products_learnmore">(Learn More)</a>
</h2>

<div id="all_products_row">

    <a href="products-and-services/references-and-verifications/employment-verification.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_employment.png" alt="" width="52" height="45" />
                <h3>Employment Verification</h3>
                <div class="prod_mobile_hide">We confirm employment dates, re-hire eligibility, starting and ending position and other relevant facts.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/references-and-verifications/education-verification.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_education.png" alt="" width="52" height="45" />

                <h3>Education Verification</h3>
                <div class="prod_mobile_hide">Our specialists verify degrees, diplomas, online courses, years of attendance and other educational achievements.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->
    <a href="products-and-services/references-and-verifications/reference-verification.html">
        <div class="all_products_single ">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_reference.png" alt="" width="52" height="45" />

                <h3>Reference Verification</h3>

                <div class="prod_mobile_hide">References are questioned about a candidate's reliability, communication skills, personal strengths and other assets.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->


</div>

<div id="all_products_row">


    <a href="products-and-services/references-and-verifications/credential-verification.html">
        <div class="all_products_single all_products_single_spacer">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_credential.png" alt="" width="52" height="45" />

                <h3>Credential Verification</h3>

                <div class="prod_mobile_hide">We confirm whether or not an applicant has a specific type of professional license, certification or credential.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->

    <a href="products-and-services/workers-compensation.html">
        <div class="all_products_single ">

            <div class="all_products_single_content">
                <img src="/assets/img/sites/bgo/products_icon_workers.png" alt="" width="52" height="45" />

                <h3>Workers' Compensation Search</h3>

                <div class="prod_mobile_hide">See if an applicant filed a claim at previous jobs. If so, get the date, incident details, injury description and more.</div>
                 <div class="prod_mobile_moreinfo">More Info</div>
            </div>

        </div>
    </a><!-- all_products_single -->

</div>
</div><!-- all_products_group -->
